*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    header{
        background-color: #1f2937;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.25rem;
        height: 15vh;

    //img{}
    .btnAdote{
        background-color: #f97415;
        color: white;
        padding: .8rem;
        font-size: 1.25rem;
        border-radius: 10px;
        font-weight: 700;
        border: none;
        cursor: pointer;
    }
}

.banner{
   // background-color: fuchsia;
    padding-top: 3rem;
    article{
       // border: solid green;
        display: flex;
        height: 60vh;
        justify-content: space-evenly;

        .infoPet{
           // border: solid red;
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 1rem;
            padding: 2rem;

            #nomeDoPet{
                color: #f97415;
                font-weight: 700;
                font-size: 3.75rem;
               
            }
            #descricao{
                font-size: 1.5rem;
            }
        }
            #fotoGrande{
                width: 50%;
                border-radius:10px;
             }
    }
}