*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    header{
        background-color: #1f2937;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.25rem;
        height: 15vh;

    //img{}
    .btnAdote{
        background-color: #f97415;
        color: white;
        padding: .8rem;
        font-size: 1.25rem;
        border-radius: 10px;
        font-weight: 700;
        border: none;
        cursor: pointer;
    }
}

.banner{
    //border: solid red;
    padding-top: 4rem;
    height: 105vh;

    article{
       // border: solid green;
        display: flex;
        height: 60vh;
        justify-content: space-evenly;

        .infoPet{
           // border: solid red;
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 1rem;
            padding: 2rem;

            #nomeDoPet{
                color: #f97415;
                font-weight: 700;
                font-size: 3.75rem;
               
            }
            #descricao{
                font-size: 1.5rem;
            }
        }
            #fotoGrande{
                width: 50%;
                border-radius:10px;
             }
    }
}

.galeria{ 
    //border: solid green;
    width: 60% ;
    display: flex;
    //flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 3em;

    .descricao, .nome{
        display: none;
    }
}
.imgPet{
    width: 65%;
    height: 20vh;
    border-radius: 100%;
    cursor: pointer;
}

.containerFormulario{
    background:linear-gradient(#f59c21,#e6b516);
    text-align: center;
    color: #ffff;
    padding: 3rem 0;
    font-size: 1.3rem;
    font-family: Arial,sans-serif, "inter";
    font-weight: 700;
    font-style: bold;
    display: flex;
    flex-direction: column;
    //margin: 0, auto;

    .infoPet{
        width: 100%;
       // border: solid rgb(27, 12, 243);
        margin: 1.25rem auto;
        padding:2rem ;
        max-width: 50em;
        display: flex;
        flex-direction: column;        
        height: 100vh;
        //gap: 1rem;
       // overflow-y: auto;

    
     .labelDados {
           // border: solid violet ;
            text-align: left;
            display: block;
            margin-top: .4rem;
           // margin-bottom:.5rem ;
            font-size: 1.5rem;
            font-family: Arial,sans-serif, "inter";
         }

    
    .inputDados{
       // background-color: mediumseagreen;
        width: 100%;
        padding: 1rem;
       // margin-top: 1rem;
        border: none;
        border-radius: .6rem;
        background-color: #ffff;
        margin-bottom: 1rem;
        
    }
}

    .infoRadio{
      // border: solid skyblue;
       border: none;
       text-align: start;
       padding: 1.5px;
       margin: 0 0 1rem;
       font-size: 1.5rem;

        .kpet{
            //border: solid orange;
            display: block;
        }
        .infoLabel{
           // border: solid darkmagenta;
            display: inline-flex;
            align-items: center;
            margin-right: 2rem;
        }
    }
    
       
    }

    .infoNamePet{
       // border: solid gray;
        display: flex;
        //flex-direction: column;
        gap: 16px;
        margin-top: 6px;
        color: #ffff;
        font-size: 1.5rem;

       
    }
    .btn-pet{
        width: 90%;
        background:#f97415;
        margin-top: .6rem;
        margin: auto;
        padding: 1.3rem;
        margin-bottom: 2rem;
        border-radius: 6px;
        border: none;
        font-size: 1.5rem;
        color: white;
        font-family: Arial, sans-serif, "inter";
        font-weight: 700;

    }


footer{
    background-color: #1f2937;
    .msgRedes{
        .logoFoo{
           // background-color: #e6b516;
            width: 5rem;
        }
        border-bottom: 1px solid #4B5563;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 5rem;

        p{
            width: 35%;
        }
        div{
            //background-color: #e6b516;
            display: flex;
            gap: 1rem;
            height: 1.5rem;
        }
    }
    p{
       // background-color: ghostwhite;
        display: flex;
        justify-content: center;
        height: 2.5rem;
        margin-right: 2rem;
        align-items: center;

    }
}
